<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!-- caroussel -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
                <div class="carousel-item active">
                  <%=image_tag ("banner/chatbanner1.jpg"), class:"d-block w-100" %>              
                </div>
                <div class="carousel-item">
                  <%=image_tag ("banner/chatbanner2.jpg"), class:"d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%=image_tag ("banner/chatbanner3.jpg"), class:"d-block w-100" %>
                </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

<!-- end caroussel -->
</br>
</br>
    <!-- Product Section Start -->
    <div class="product-section section mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">

            <div class="row">
                <div class="section-title text-center col mb-30">
                    <h1>Nos produits</h1>
                    <p>Toutes les meilleures photos de chats au monde !</p>
                </div>
            </div>

                           

            <div class="row">
            <% Item.all.each do |elem|%> 
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">
                               
                            <div class="image">
                                <%=image_tag "#{elem.image_url}" , alt:"", class:"img-fluid", width:"60" %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                   </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">
                                    <h4 class="title"> 
                                        <%= link_to "#{elem.title}", item_path(elem.id) %></h4>
                                </div>

                                <div class="content-right">
                                    <span class="price"><%= elem.price %> €</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            <%end%>
            </div>
   
        </div>
    </div>


<!-- Feature Section Start -->
    <div class="feature-section section bg-theme-two pt-65 pt-lg-55 pt-md-45 pt-sm-45 pt-xs-25 pb-65 pb-lg-55 pb-md-45 pb-sm-45 pb-xs-25 fix" style="background-image: url(assets/images/pattern/pattern-dot.png);">
        <div class="container">
            <div class="feature-wrap row justify-content-between">

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%=image_tag ("feature/feature-1.png") %><img src="assets/images/feature/feature-1.png" alt=""></div>
                        <div class="content">
                            <h3>Envoi gratuit</h3>
                            <p>A partir de 100€ d'achat</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%=image_tag ("feature/feature-2.png") %><img src="assets/images/feature/feature-2.png" alt=""></div>
                        <div class="content">
                            <h3>On vous rembourse</h3>
                            <p>Si on a envie</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%=image_tag ("feature/feature-3.png") %><img src="assets/images/feature/feature-3.png" alt=""></div>
                        <div class="content">
                            <h3>Un paiement sûr</h3>
                            <p>Codé avec les pieds</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div><!-- Feature Section End -->

<!-- Le mot de la fin begin-->
       
</br>
</br>
</br>

  <div class="product-section section mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
 
       <div class="container">

            <div class="row">
                <div class="section-title text-center col mb-30">
                    </br>
                    </br>
                    </br>
                    <h1>Le mot de la fin</h1>
                    <p>Bon alors oui, tu peux trouver des photos de chats sur Internet mais ca n'a rien à voir ! Si tu les achètes sur notre site, tu les auras payées et là ça fait toute la différence.</p>
                </div>
            </div>
        </div>
    </div>        
<!-- Le mot de la fin fin-->



<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/javascripts/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="assets/javascripts/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/javascripts/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/javascripts/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/javascripts/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/javascripts/main.js"></script>

</body>

</html>