<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Jadusona - eCommerce Baby shop Bootstrap4 Template - THEME SHARED ON THEMELOCK.COM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Helper CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/javascripts/modernizr-2.8.3.min.js"></script>
</head>

<body>




   

    <!-- Banner Section Start -->
    <div class="banner-section section mt-40 mt-xs-20 mb-60 mb-lg-40 mb-md-40 mb-sm-40 mb-xs-20">
        <div class="container-fluid">
            <div class="row row-10">

                <div class="col-lg-4 col-md-6 col-12 mb-20">
                    <div class="banner banner-1 content-left content-middle">

                        <a href="#" class="image"><%= image_tag("banner/banner-1.jpg") %></a>

                        <div class="content">
                            <h1>New Arrival <br>Baby’s Shoe <br>GET 30% OFF</h1>
                            <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-20">
                    <a href="#" class="banner banner-2">

                        <%= image_tag("banner/banner-2.jpg") %>

                        <div class="content bg-theme-one">
                            <h1>New Toy’s for your Baby</h1>
                        </div>

                        <span class="banner-offer">25% off</span>

                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-20">
                    <div class="banner banner-1 content-left content-top">

                        <a href="#" class="image"><%= image_tag("banner/banner-3.jpg") %></a>

                        <div class="content">
                            <h1>Trendy <br>Collections</h1>
                            <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div><!-- Banner Section End -->

    <!-- Product Section Start -->
    <div class="product-section section mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">

            <div class="row">
                <div class="section-title text-center col mb-30">
                    <h1>Nos produits</h1>
                    <p>Toutes les meilleures photos de chatons au monde !</p>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-1.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                   </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Tmart Baby Dress</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$25</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-2.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                   </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Jumpsuit Outfits</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$09</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-3.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Smart Shirt</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$18</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-4.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Kids Shoe</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$15</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-5.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html"> Bowknot Bodysuit</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$12</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-6.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Striped T-Shirt</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$12</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-7.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Kislen Jak Tops</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$29</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">

                    <div class="product-item">
                        <div class="product-inner">

                            <div class="image">
                                <%= image_tag("product/product-8.jpg") %>

                                <div class="image-overlay">
                                    <div class="action-buttons">
                                        <button>add to cart</button>
                                    </div>
                                </div>

                            </div>

                            <div class="content">

                                <div class="content-left">

                                    <h4 class="title"><a href="single-product.html">Lattic Shirt</a></h4>

                                </div>

                                <div class="content-right">
                                    <span class="price">$08</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div><!-- Product Section End -->


    
    <!-- Feature Section Start -->
    <div class="feature-section section bg-theme-two pt-65 pt-lg-55 pt-md-45 pt-sm-45 pt-xs-25 pb-65 pb-lg-55 pb-md-45 pb-sm-45 pb-xs-25 fix" style="background-image: url(assets/images/pattern/pattern-dot.png);">
        <div class="container">
            <div class="feature-wrap row justify-content-between">

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%= image_tag("feature/feature-1.png") %></div>
                        <div class="content">
                            <h3>Free Shipping</h3>
                            <p>Start from $100</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%= image_tag("feature/feature-2.png") %></div>
                        <div class="content">
                            <h3>Money Back Guarantee</h3>
                            <p>Back within 25 days</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-12 mt-15 mb-15">
                    <div class="feature-item text-center">

                        <div class="icon"><%= image_tag("feature/feature-3.png") %></div>
                        <div class="content">
                            <h3>Secure Payment</h3>
                            <p>Payment Security</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div><!-- Feature Section End -->

    <!-- Blog Section Start -->
    <div class="blog-section section mt-80 mt-lg-60 mt-md-60 mt-sm-60 mt-xs-40 mb-40 mb-lg-20 mb-md-20 mb-sm-20 mb-xs-0">
        <div class="container">
            <div class="row">

                <div class="col-xl-12 col-lg-5 col-12">

                    <div class="row">
                        <div class="section-title text-left col mb-30">
                            <h1>CLIENTS REVIEW</h1>
                            <p>Clients says abot us</p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 mb-40">
                            <div class="testimonial-item">
                                <p>Jadusona is one of the most exclusive Baby shop in the wold, where you can find all product for your baby that your want to buy for your baby. I recomanded this shop all of you</p>
                                <div class="testimonial-author">
                                    <%= image_tag("testimonial/testimonial-1.png") %>
                                    <div class="content">
                                        <h4>Zacquline Smith</h4>
                                        <p>CEO, Momens Group</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-40">
                            <div class="testimonial-item">
                                <p>Jadusona is one of the most exclusive Baby shop in the wold, where you can find all product for your baby that your want to buy for your baby. I recomanded this shop all of you</p>
                                <div class="testimonial-author">
                                    <%= image_tag("testimonial/testimonial-2.png") %>
                                    <div class="content">
                                        <h4>Nusaha Williams</h4>
                                        <p>CEO, Momens Group</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div><!-- Blog Section End -->

    <!-- Footer Top Section Start -->
    <div class="footer-top-section section bg-theme-two-light pt-80 pt-lg-60 pt-md-60 pt-sm-60 pt-xs-40 pb-40 pb-lg-20 pb-md-20 pb-sm-20 pb-xs-0">
        <div class="container">
            <div class="row">

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">CONTACT US</h4>
                    <p>You address will be here<br/> Lorem Ipsum text</p>
                    <p><a href="tel:01234567890">01234 567 890</a><a href="tel:01234567891">01234 567 891</a></p>
                    <p><a href="mailto:info@example.com">info@example.com</a><a href="#">www.example.com</a></p>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">PRODUCTS</h4>
                    <ul>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Best Seller</a></li>
                        <li><a href="#">Trendy Items</a></li>
                        <li><a href="#">Best Deals</a></li>
                        <li><a href="#">On Sale Products</a></li>
                        <li><a href="#">Featured Products</a></li>
                    </ul>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">INFORMATION</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Payment Method</a></li>
                        <li><a href="#">Product Warranty</a></li>
                        <li><a href="#">Return Process</a></li>
                        <li><a href="#">Payment Security</a></li>
                    </ul>
                </div>

                <div class="footer-widget col-lg-3 col-md-6 col-12 mb-40">
                    <h4 class="title">NEWSLETTER</h4>
                    <p>Subscribe our newsletter and get all update of our product</p>

                    <form id="mc-form" class="mc-form footer-subscribe-form" novalidate="true">
                        <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                        <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->

                    <h5>FOLLOW US</h5> 
                    <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="#">Google+</a></p>

                </div>

            </div>
        </div>
    </div><!-- Footer Top Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="footer-copyright">Copyright &copy; All rights reserved</p>
                </div>
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->

</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/javascripts/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="assets/javascripts/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/javascripts/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/javascripts/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/javascripts/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/javascripts/main.js"></script>

</body>

</html>