<!DOCTYPE html>
<html>
  <head>
    <title>Lechatonshop</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <nav>
      <div class="main-wrapper">

    <!-- Header Section Start -->
    <div class="header-section section">

        <!-- Header Top Start -->
        <div class="header-top header-top-one bg-theme-two">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">

                    <div class="col mt-10 mb-10 d-none d-md-flex">
                        <!-- Header Top Left Start -->
                        <div class="header-top-left">
                            <p>Bienvenue sur le chaton shop !</p>
                            <p>Tel: <a href="tel:0623232323">06 27 02 02 34</a></p>
                        </div><!-- Header Top Left End -->
                    </div>

                    <div class="col mt-10 mb-10">
                        <!-- Header Shop Links Start -->
                        <div class="header-top-right">

                            <p><a href="/users/edit">My Account</a></p>
                            <p><a href="/login_register">Register</a><a href="/login_register">Login</a></p>

                        </div><!-- Header Shop Links End -->
                    </div>

                </div>
            </div>
        </div><!-- Header Top End -->

                <!-- Header Bottom Start -->
        <div class="header-bottom header-bottom-one header-sticky@">
            <div class="container-fluid">
                <div class="row menu-center align-items-center justify-content-between">

                    <div class="col mt-15 mb-15">
                        <!-- Logo Start -->
                        <div class="header-logo">
                            <a href="index.html">
                              <%= image_tag("chat.jpg", width: 64, height: 64) %>
                              </a>
                        </div><!-- Logo End -->
                    </div>

                    <div class="col order-2 order-lg-3">
                        <!-- Header Advance Search Start -->
                        <div class="header-shop-links">

                            <div class="header-search">
                                <button class="search-toggle"><%= image_tag("icons/search.png") %></button>
                                <div class="header-search-wrap">
                                    <form action="#">
                                        <input type="text" placeholder="Type and hit enter">
                                        <button><%= image_tag("icons/search.png") %></button>
                                    </form>
                                </div>
                            </div>

                            <div class="header-wishlist">
                                <a href="wishlist.html"><%= image_tag("icons/wishlist.png") %><span>02</span></a>
                            </div>

                            <div class="header-mini-cart">
                                <a href="cart.html"><%= image_tag("icons/cart.png") %><span>02($250)</span></a>
                            </div>

                        </div><!-- Header Advance Search End -->
                    </div>

                    <div class="col order-3 order-lg-2">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="active"><a href="/">HOME</a>
                                    <li><a href="/">PAGES</a>
                                        <ul class="sub-menu">
                                            <li><a href="/cart">Cart</a></li>
                                            <li><a href="/checkout">Checkout</a></li>
                                            <li><a href="/login_register">Login & Register</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/contact">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                </div>
            </div>
        </div><!-- Header BOttom End -->

    </div><!-- Header Section End -->

    </nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


    <%= yield %>
  </body>
  <footer>
    <!-- Footer Bottom Section Start -->
    <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="footer-copyright">Copyright &copy; All rights reserved</p>
                </div>
            </div>
        </div>
    </div><!-- Footer Bottom Section End -->

</div>
</footer>
</html>
